.div1 {
	height: 41px;
	background: #f5696c;
	width: 144px;
	position: relative;
	margin-left: 3.8%;
	display: inline-block;
}

.div2 {
	text-align: center;
	padding-top: 12px;
	font-size: 15px;
	font-weight: 800;
}

.div3 {
	height: 41px;
	background: #f5696c;
	width: 144px;
	position: relative;
	margin-left: 2%;
	display: inline-block;
}

.div2 {
	text-align: center;
	padding-top: 12px;
	font-size: 15px;
	font-weight: 800;
}

.inputstyle {
	width: 144px;
	height: 41px;
	cursor: pointer;
	font-size: 30px;
	outline: medium none;
	position: absolute;
	filter: alpha(opacity = 0);
	-moz-opacity: 0;
	opacity: 0;
	left: 0px;
	top: 0px;
}

.btn3 {
	display: inline-block;
	padding: 4px 50px;
	margin-left: 2%;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid #e5e5e5;
	border-radius: 0px 0px 0px 0px;
}

#test select {
	width: 100px;
	height: 39px;
	margin-left: 20px;
}
}