body {
	font-family: "兰亭黑-简", "微软雅黑", "Helvetica Neue", Helvetica, Arial,
		sans-serif;
	font-size: 14px;
	color: #333333;
	margin: 0px;
	background-color: #90C566;
}

.header {
	background-color: #34383C;
	height: 48px;
}

.content {
	
}

.tablemorevalue {
	display: none;
}

.tablevalue ul {
	padding-left: 0px;
}

.tablevalue ul li {
	float: left;
	display: block;
	padding: 5px 15px;
	border: 1px solid rgb(216, 216, 216);
	margin-left: 10px;
	cursor: pointer;
}

.tablevalue ul li:hover {
	background-color: rgb(230, 230, 230);
}

.tablevalue ul li.active {
	background-color: rgb(230, 230, 230);
}

.tablevalue:hover+.tablemorevalue {
	position: relative;
	left: 0px;
	top: 0px;
	background-color: rgb(245, 245, 245);
	display: inline-block;
	width: auto;
	min-height: 30px;
	text-align: left;
	border-radius: 4px;
	padding: 10px;
}

.tablekey {
	width: 100px;
	text-align: right;
	padding: 10px;
	display: inline-block;
}

.tablevalue {
	margin-left: 20px;
	text-align: left;
	padding: 10px;
	display: inline-block;
}

.tablerow {
	width: 94%;
	padding: 15px 30px;
	border-bottom: 1px solid rgb(225, 225, 225);
}

.page-content-wrapper {
	width: 100%;
}

.page-sidebar-wrapper {
	
}

.page-logo {
	float: left;
	display: block;
	width: 225px;
	height: 48px;
	padding-left: 4px;
	padding-right: 20px;
}

.page-nav {
	float: right;
	display: block;
	margin-right: 20px;
	height: 48px;
}

.page-nav ul {
	margin: 0px;
}

.page-nav li {
	list-style: none outside none;
	float: left;
	height: 48px;
}

.page-nav li>a {
	height: 48px;
	display: block;
	line-height: 48px;
}

.devider {
	border-left: 1px solid rgb(72, 74, 79) !important;
	margin-left: 10px !important;
	margin-right: 5px !important;
	height: 45px;
	width: 1px !important;
}

.badge {
	position: absolute;
	top: 8px;
	right: 2px;
	border-radius: 2px 2px 2px 2px !important;
	padding: 1px 4px 0px;
	height: 14px;
	background-color: rgb(137, 196, 244);
	background-image: none !important;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	color: white;
}

.nav-mail {
	background-image: url(../image/icon02.png);
	background-position: -112px 0px;
	height: 48px;
	width: 48px;
}

.nav-mail:hover, .nav-name:hover {
	background-color: black;
}

.page-content {
	margin-left: 140px;; /*56px;*/
	height: auto !important;
	min-height: 800px;
	background-color: white;
}

.page-sidebar {
	width: 140px; /*56px;*/
	float: left;
	position: relative;
	margin-right: -100%;
}

.page-sidebar-menu {
	list-style: none outside none;
	margin: 0px;
	padding: 0px;
}

.page-sidebar-menu>li>a {
	display: block;
	position: relative;
	margin: 0px;
	/*    padding: 10px 13px 10px 15px;*/
	text-decoration: none;
	font-size: 14px;
	font-weight: 300;
	height: 48px;
	line-height: 48px;
}

.page-sidebar-menu>li {
	height: 48px;
	cursor: pointer;
}

.page-sidebar-menu .title {
	margin-left: 10px;
	color: #34621E;
	/*display: none;*/
}

.page-sidebar-menu .active .title {
	margin-left: 10px;
	color: white;
}

.page-sidebar-menu>li>a>.i-nl {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -112px -48px;
}

.page-sidebar-menu>li.active>a>.i-nl {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -112px -144px;
}

.page-sidebar-menu>li.active>a>.ir {
	height: 48px;
	width: 8px;
	float: right;
	background-image: url(../image/icon02.png);
	background-position: -158px -144px;
}

.page-sidebar-menu>li>a>.ir {
	height: 48px;
	width: 8px;
	float: right;
}

.page-sidebar-menu>li>a>.i-nlz {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -168px -48px;
}

.page-sidebar-menu>li.active>a>.i-nlz {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -168px -144px;
}

.page-sidebar-menu>li>a>.i-pe {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -448px -48px;
}

.page-sidebar-menu>li.active>a>.i-pe {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -448px -144px;
}

.page-sidebar-menu>li>a>.i-ml {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -504px -48px;
}

.page-sidebar-menu>li.active>a>.i-ml {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -504px -144px;
}

.page-sidebar-menu>li>a>.i-gg {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -560px -0px;
}

.page-sidebar-menu>li.active>a>.i-gg {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -560px -96px;
}

.page-sidebar-menu>li>a>.i-rz {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -504px -0px;
}

.page-sidebar-menu>li.active>a>.i-rz {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -504px -96px;
}

.page-sidebar-menu>li>a>.i-esb {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -448px -0px;
}

.page-sidebar-menu>li.active>a>.i-esb {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -448px -96px;
}

.page-sidebar-menu>li>a>.i-nlb {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -224px -48px;
}

.page-sidebar-menu>li.active>a>.i-nlb {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -224px -144px;
}

.page-sidebar-menu>li>a>.i-jk {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -112px -0px;
}

.page-sidebar-menu>li.active>a>.i-jk {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -112px -96px;
}

.page-sidebar-menu>li>a>.i-nlml {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -56px -48px;
}

.page-sidebar-menu>li.active>a>.i-nlml {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -56px -144px;
}

.page-sidebar-menu>li>a>.i-jkjc {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -336px -0px;
}

.page-sidebar-menu>li.active>a>.i-jkjc {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -336px -96px;
}

.page-sidebar-menu>li.active>a>.i-zj {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -392px -96px;
}

.page-sidebar-menu>li>a>.i-zj {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -392px -0px;
}

.page-sidebar-menu>li.active>a>.i-sl {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -392px -144px;
}

.page-sidebar-menu>li>a>.i-sl {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -392px -48px;
}

.page-sidebar-menu>li>a>.i-sj {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: 0px -48px;
}

.page-sidebar-menu>li.active>a>.i-sj {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: 0px -144px;
}

.page-sidebar-menu>li>a>.i-yy {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: 0px 0px;
}

.page-sidebar-menu>li.active>a>.i-yy {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: 0px -96px;
}

.page-sidebar-menu>li>a>.i-hb {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -280px 0px;
}

.page-sidebar-menu>li.active>a>.i-hb {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -280px -96px;
}

.page-sidebar-menu>li>a>.i-hbsp {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -280px -48px;
}

.page-sidebar-menu>li.active>a>.i-hbsp {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -280px -144px;
}

.page-sidebar-menu>li>a>.i-yysp {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -336px -48px;
}

.page-sidebar-menu>li.active>a>.i-yysp {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -336px -144px;
}

.page-sidebar-menu>li>a>.i-yw {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -224px 0px;
}

.page-sidebar-menu>li.active>a>.i-yw {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -224px -96px;
}

.page-sidebar-menu>li>a>.i-tj {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -56px 0px;
}

.page-sidebar-menu>li.active>a>.i-tj {
	height: 48px;
	width: 46px;
	float: left;
	background-image: url(../image/icon02.png);
	background-position: -56px -96px;
}

.page-sidebar-menu>li.active {
	background-color: #4D8233
}

.page-sidebar-menu>li:hover:not (.active ){
	background-color: #A9D57F;
}

.page-sidebar-menu>li>a>img {
	height: 14px;
	width: 20px;
}

.page-sidebar-wrapper:hover .title {
	display: inline-block;
}

.page-sidebar-wrapper:hover .page-sidebar {
	width: 140px;
}

.page-sidebar-wrapper:hover+.page-content-wrapper .page-content {
	margin-left: 140px;
}

.eoptable {
	padding: 3%;
	padding-top: 5px;
}

.eoptable .table-name {
	font-size: 22px;
	width: 100%;
	line-height: 42px;
	height: 42px;
}

.eoptable .table-name-div {
	width: 85%;
	height: 42px;
	display: inline-block;
	margin-left: 2%;
	border-bottom: 1px solid #e5e5e5;
}

.eoptable .table-name-infomg {
	width: 80%;
	height: 42px;
	display: inline-block;
	margin-left: 2%;
	border-bottom: 1px solid #e5e5e5;
}

.eoptable table {
	width: 100%;
	max-width: 100%;
	border-spacing: 0px;
}

table {
	width: 100%;
	max-width: 100%;
	border-spacing: 0px;
}

.eoptable .tablehead {
	margin-top: 32px;
	height: 26px;
	background-color: #e5e5e5;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #e0e0e0;
}

.tablehead {
	margin-top: 32px;
	height: 26px;
	background-color: #e5e5e5;
	border-radius: 4px 4px 0px 0px;
	border: 1px solid #e0e0e0;
}

.eoptable .tablebody {
	padding: 15px;
	border: 1px solid #e0e0e0;
}

.tablebody {
	padding: 15px;
	border: 1px solid #e0e0e0;
}

.eoptable table>thead>tr>th {
	vertical-align: bottom;
}

.tablerow input, .tablerow select {
	width: 50%;
}

.tablerow1 {
	width: 94%;
	padding: 15px 30px;
	position: relative;
	border-bottom: 1px solid #E1E1E1;
}

.tablerow1.tablevalue {
	width: 100px;
	text-align: right;
	padding: 10px;
	display: inline-block;
	float: left;
}

.tablerow1 input, .tablerow1 select {
	width: 90%;
}

.eoptable table>tbody>tr>td {
	padding: 8px 0px;
	border-top: 1px solid rgb(221, 221, 221);
}
/*.eoptable tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: rgb(249, 249, 249);
}*/
.eoptable th {
	text-align: left;
}

.tabletailgray a {
	text-decoration: none;
}

.eoptable .tablebody tr:hover {
	cursor: pointer;
}

.eoptable tbody tr:hover {
	background-color: rgb(249, 249, 249);
}

.eoptable .tabletail {
	margin-top: 30px;
	height: 30px;
}

.eoptable .tabletailgray {
	height: 60px;
	background-color: rgb(223, 223, 223);
	border: 1px solid #e0e0e0;
	border-radius: 0px 0px 4px 4px;
}

.eoptable .tablepage {
	float: right;
}

.eoptable .tablefunc {
	float: left;
}

.pagination {
	display: inline-block;
	padding-left: 0px;
	margin: 0px 0px;
	border-radius: 4px 4px 4px 4px;
}

.pagination>li {
	display: inline;
}

.pagination>li :hover {
	background-color: #e5e5e5;
}

.pagination>li>a, .pagination>li>span {
	position: relative;
	float: left;
	padding: 6px 12px;
	margin-left: -1px;
	line-height: 1.42857;
	color: rgb(66, 139, 202);
	border: 1px solid rgb(221, 221, 221);
	text-decoration: none;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover,
	.pagination>.active>span:hover, .pagination>.active>a:focus,
	.pagination>.active>span:focus {
	z-index: 2;
	color: rgb(255, 255, 255);
	cursor: default;
	background-color: rgb(66, 139, 202);
	border-color: rgb(66, 139, 202);
}

.btn-group, .btn-group-vertical {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.btn-group>.btn:first-child {
	border-radius: 4px 0px 0px 4px;
}

.btn-group>.btn:last-child {
	border-radius: 0px 4px 4px 0px;
}

.btn-group>.btn:first-child {
	margin-left: 0px;
}

.btn-group>.btn, .btn-group-vertical>.btn {
	position: relative;
	float: left;
}

.btn-default {
	color: rgb(51, 51, 51);
	background-color: rgb(66, 139, 202);
	color: white;
	border-color: rgb(204, 204, 204);
}

.btn-default1 {
	color: rgb(51, 51, 51);
	background-color: white;
	color: black;
	border-color: rgb(204, 204, 204);
	margin-left: 1%;
}

.btn:hover {
	background-color: rgb(66, 160, 202);
}

.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid #e5e5e5;
	border-radius: 0px 0px 0px 0px;
}

input[type='text'].inactive, input[type='number'].inactive, input[type='email'].inactive,
	input[type='url'].inactive, textarea.inactive, select.inactive, option.inactive
	{
	color: #999;
	font-style: italic;
}

input[type='text'].invalid, input[type='password'].invalid, input[type='number'].invalid,
	input[type='email'].invalid, input[type='url'].invalid, textarea.invalid,
	select.invalid {
	border-color: red;
	webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
	border: 1px solid red;
}

.error {
	display: none;
	line-height: 20px;
	color: gray;
	margin-left: 10px;
}

* {
	margin: 0;
	padding: 0;
}

#imglist {
	list-style: none;
	width: 500px;
	margin: 50px auto;
}

#imglist li {
	float: left;
	margin-top: 10px;
}